<% if not current_user.pending_friendships.empty? %>
  <div class="box">
    <div class="header">
      Friendship requests (<%= current_user.pending_friendships.size %>)
      <span class="show_all">
        <%= link_to "Show all", friendship_requests_path %>
      </span>
    </div>
    <div class="content">
      <ul id="friendship_requests">
        <% current_user.firsts_pending_friendships.each do |friendship| %>
          <li>
            <%= render :partial => "user_desc", :locals => { :user => friendship.user_a } %>
            
            <div class="actions">
              <%= link_to "Accept", accept_friendship_path(friendship) %> | 
              <%= link_to "Decline", decline_friendship_path(friendship) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>