<% title "weegoo - #{t('views.main.contribute')}" %>

<div style="margin-top: 40px">
  
  <h1><%=t 'views.main.contribute' %></h1>
  
  <h2><%=t 'views.main.why_contribute' %></h2>
  
  <%= raw(t 'views.main.why_contribute_answer') %>
  
  <h2><%=t 'views.main.how_to_contribute' %></h2>
  
  <%= raw(t 'views.main.how_to_contribute_answer') %>
  
</div>