<% title t('views.main.contribute_to_weegoo') %>

<h1><%=t 'views.main.contribute_to_weegoo' %></h1>

<h2><%=t 'views.main.why' %></h2>
<p><%=t 'views.main.because' %></p>

<h2><%=t 'views.main.how' %></h2>
<p><%= t('views.main.like_this').html_safe %></p>

<h2><%=t 'views.main.how_do_i_benefit' %></h2>
<p><%= t('views.main.benefits').html_safe %></p>
