<div id="left_column">

  <div id="user_information">
    <div id="avatar">
      <%= image_tag "blank_avatar.png" %>
    </div>
    <div id="information">
      <h1><%= current_user.full_name %></h1>
      <h2><%= current_user.location %></h2>
    
      <div id="separator"></div>
    
      <ul id="stats">
        <li>
          Friends<strong><%= current_user.accepted_friendships.size %></strong>
        </li>
        <li>
          Visited places<strong>300</strong>
        </li>
        <li style="border-right:none">
          Want to go to<strong>1000</strong>
        </li>
      </ul>
    </div>
  </div>
  
</div>

<div id="right_column">

  <%= render "pending_friendships" %>
  
  <%= render "friends" %>
  
</div>