<% title "weegoo - #{t('views.main.slogan')}" %>

<h1 class="title"><%=t 'views.main.slogan' %></h1>

<div id="features">
  <div id="find_friends">
    <%= image_tag "find_friends.jpg", :style => "width: 450px" %>
    
    <h2><%=t 'views.main.find_friends' %></h2>
  </div>

  <div id="share_venues_and_events">
    <%= image_tag "share_venues_and_events.jpg", :style => "width: 450px; height: 300px" %>
    
    <h2><%=t 'views.main.share_venues_and_events' %></h2>
  </div>
  
  <div id="spacer"></div>
</div>

<h1 class="title"><%=t 'views.main.start_finding_friends_and_sharing_venues_and_events' %></h1>

<div id="sign_up">
  <%= big_pill_button_link_to t("views.main.sign_up_now"), new_user_registration_path %> <%=t 'views.main.or_sign_in_with' %> <%= link_to image_tag("facebook_64.png"), "/auth/facebook" %> <%=t 'views.main.or' %> <%= link_to image_tag("twitter_64.png"), "/auth/twitter" %>
</div>

<div class="columns" style="margin-top: 30px">
  
  <div class="left">
    <h1><%=t 'views.main.most_visited_places' %></h1>
    
    <ul id="points_of_interest_list">
      <% @most_visited_points_of_interest.each do |point_of_interest| %>
        <%= render :partial => "points_of_interest/most_visited_point_of_interest", :locals => { :point_of_interest =>  point_of_interest } %>
      <% end %>
    </ul>
  </div>
  
  <div class="right">
    <h1><%=t 'views.main.most_active_users' %></h1>
    
    <ul id="users_list">
      <% @most_active_users.each do |user| %>
        <%= render :partial => "users/most_active", :locals => { :user =>  user } %>
      <% end %>
    </ul>
  </div>
  
</div>