<% title "weego - #{t('views.main.slogan')}" %>

<h1 class="title"><%=t 'views.main.slogan' %></h1>

<div id="features">
  <div id="find_friends">
    <%= image_tag "blank_image.png" %>
    
    <h2><%=t 'views.main.find_friends' %></h2>
  </div>

  <div id="share_venues_and_events">
    <%= image_tag "blank_image.png" %>
    
    <h2><%=t 'views.main.share_venues_and_events' %></h2>
  </div>
  
  <div id="spacer"></div>
</div>

<h1 class="title"><%=t 'views.main.start_finding_friends_and_sharing_venues_and_events' %></h1>

<div id="sign_up">
    <%= link_to t("views.main.sign_up_now"), new_user_registration_path, :class => "button big" %> <%=t 'views.main.or_sign_in_with' %> <%= link_to image_tag("facebook_64.png"), "/auth/facebook" %> <%=t 'views.main.or' %> <%= link_to image_tag("twitter_64.png"), "/auth/twitter" %>
</div>