<div id="left_column">

  <div id="user_information">
    <div id="avatar">
      <%= image_tag "blank_avatar.png" %>
    </div>
    <div id="information">
      <h1><%= current_user.full_name %></h1>
      <h2><%= current_user.location %></h2>
    
      <div id="separator"></div>
    
      <ul id="stats">
        <li>
          Friends<strong>87</strong>
        </li>
        <li>
          Visited places<strong>300</strong>
        </li>
        <li style="border-right:none">
          Want to go to<strong>1000</strong>
        </li>
      </ul>
    </div>
  </div>
  
</div>

<div id="right_column">
  
  <% if not @friendship_requests.empty? %>
    <div class="box">
      <div class="header">
        Friendship requests (<%= @friendship_requests.size %>)
        <span class="show_all">
          <%= link_to "Show all", root_url %>
        </span>
      </div>
      <div class="content">
        <ul id="friendship_requests">
          <% @friendship_requests.each do |friendship| %>
            <li>
              <%= friendship.user_a.full_name %>
              
              <div class="actions">
                <%= link_to "Accept", accept_friendship_path(friendship) %> | 
                <%= link_to "Decline", decline_friendship_path(friendship) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="box">
    <div class="header">
      Friends (87)
      <span class="show_all">
        <%= link_to "Show all", root_url %>
      </span>
    </div>
    <div class="content">
      border: 1px solid #cccccc;
    </div>
  </div>
  
  <div class="box">
    <div class="header">
      Friends (87)
      <span class="show_all">
        <%= link_to "Show all", root_url %>
      </span>
    </div>
    <div class="content">
      border: 1px solid #cccccc;
    </div>
  </div>
  
</div>