<% if @media_file.new_record? %>
  <% url = points_of_interest_media_files_path %>
  <% action = "helpers.submit.media_file.create" %>
<% else %>
  <% url = points_of_interest_media_file_path(@medua_file) %>
  <% action = "helpers.submit.media_file.update" %>
<% end %>

<%= simple_form_for([@point_of_interest, @media_file], :url => url, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :file, :as => :file %>
  </div>

  <div class="actions">
    <%= f.button :submit, t(action), :class => "big" %>
  </div>
<% end %>
