<div id="<%= "media_file_#{media_file.id}" %>">
  <%= image_tag media_file.file_url(:medium) %>
  
  <div class="media_file" id="<%= "media_file_#{media_file.id}_caption" %>">
    
    <div class="user_info">
      <%= link_to image_tag(gravatar_url(media_file.user.email, 24)), media_file.user %>
      <%= link_to media_file.user.username, media_file.user %>
      <em>(<%= media_file.user.full_name %>)</em>
    </div>
    
    <div class="media_file_title">
      <%= media_file.title %>
    </div>
    
    <h2 style="margin-top: 20px"><%=t 'views.media_files.latest_comments' %></h2>
    
    <ul id="media_file_comments_list">
      <%= render media_file.latest_media_file_comments %>
    </ul>
    
    <%= link_to raw(t('views.media_files.show_all')), points_of_interest_media_file_media_file_comments_path(media_file.point_of_interest, media_file) %>
    
    <% if current_user == media_file.user %>
      <div class="actions">
        <%= edit_button_link_to t('views.scaffold.edit'), edit_points_of_interest_media_file_path(media_file.point_of_interest, media_file) %>
        <%= negative_trash_button_link_to t('views.scaffold.delete'), points_of_interest_media_file_path(media_file.point_of_interest, media_file), :method => :delete %>
      </div>
    <% end %>
    
  </div>
</div>