<% title "#{@point_of_interest.name} multimedia" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1>Multimedia</h1>

<% if @media_files.size > 0 %>
  
  <ul id="media_files_list">
    <%= render @media_files %>
  </ul>
  
  <%= paginate @media_files, :remote => true %>
  <%= render "shared/loading" %>
  
  <%= render :partial => "media_files/hidden_media_file", :collection => @media_files, :as => :media_file %>

<% else %>
  
  <div class="empty">
    <%= raw(t 'views.media_files.no_media_files', :point_of_interest => link_to(@point_of_interest.name, @point_of_interest)) %>
  </div>
  
<% end %>

<% if user_signed_in? %>
  <%= add_button_link_to t('views.media_files.add_a_new_media_file'), new_points_of_interest_media_file_path %>
<% end %>

<div class="back">
  <%= link_to raw(t 'views.scaffold.back'), @point_of_interest %>
</div>