<%= simple_form_for([@point_of_interest, @media_file, @media_file_comments.build], :url => points_of_interest_media_file_media_file_comments_path(@point_of_interest, @media_file)) do |f| %>
  <%= f.error_notification %>
  
  <%= link_to image_tag(gravatar_url(current_user.email, 24)), current_user, :class => "current_user_img" %>

  <div class="inputs">
    <%= f.input :comment, :label => false %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Create comment" %>
  </div>
<% end %>
