<li class="media_file_comment" id="media_file_comment_<%= media_file_comment.id %>">
  <%= link_to image_tag(gravatar_url(media_file_comment.user.email, 24)), media_file_comment.user %>
  <%= link_to media_file_comment.user.username, media_file_comment.user %>
  <em>(<%= media_file_comment.user.full_name %>)</em>
  
  <div class="comment">
    <%= media_file_comment.comment %>
  </div>
  
  <div class="information">
    <%= media_file_comment.created_at.strftime("%d %B at %H:%M") %>
  </div>
</li>