<div data-role="content">
  <%= simple_form_for @venue, :html => { 'data-ajax' => false, :class => 'mobile_simple_form' } do |f| %>
    <%= f.error_notification %>
    
    <div data-role="fieldcontain">
      <%= f.input :name %>
    </div>
    <div data-role="fieldcontain">
      <%= f.input :description %>
    </div>
    <div data-role="fieldcontain">
      <%= f.association :category %>
    </div>
    <div data-role="fieldcontain">
      <%= f.association :sub_category %>
    </div>
    
    <%= f.input :latitude, :as => :hidden %>
    <%= f.input :longitude, :as => :hidden %>
    
    <div data-role="fieldcontain">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<script>
$(window).load(function()
{
  set_latitude_and_longitude("#venue_latitude", "#venue_longitude", "<%= current_user.location %>");
});
</script>