<li class="point_of_interest_comment" id="point_of_interest_comment_<%= point_of_interest_comment.id %>">
  <%= link_to image_tag(gravatar_url(point_of_interest_comment.user.email, 24)), point_of_interest_comment.user %>
  <%= link_to point_of_interest_comment.user.username, point_of_interest_comment.user %>
  <em>(<%= point_of_interest_comment.user.full_name %>)</em>
  
  <div class="comment">
    <%= point_of_interest_comment.comment %>
  </div>
  
  <div class="information">
    <%=l point_of_interest_comment.created_at, :format => :short %>
  </div>
</li>