<% title "#{t('views.point_of_interest_comments.comments_for')} #{@point_of_interest.name}" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1><%=t 'views.point_of_interest_comments.comments_for' %> <%= @point_of_interest.name %></h1>

<ul id="point_of_interest_comments_list">
  <%= render @point_of_interest_comments %>
  
  <% if user_signed_in? %>
    <li class="point_of_interest_comment">
      <%= render 'form' %>
    </li>
  <% end %>
</ul>
