<% title "#{current_user.full_name}'s connections" %>

<%= render :partial => "users/user_information", :locals => { :user => current_user } %>

<h1><%=t 'views.authentications.authentications' %></h1>

<ul id="authentications_list">
<% ["facebook", "twitter"].each do |provider| %>
  
  <% if current_user.authenticates_to?(provider) %>
    <%= render @authentications.where("provider = ?", provider) %>
  <% else %>
    <li class="authentication">
      <%= image_tag "#{provider}_32.png" %>
      <%= provider %>

      <div class="actions">
        <%= add_button_link_to t('views.authentications.connect'), "/auth/#{provider}" %>
      </div>

    </li>
  <% end %>
<% end %>
</ul>

<%= link_to raw(t('views.scaffold.back')), current_user %>