<% if not user.pending_friendships.empty? %>
  <div class="box">
    <div class="header">
      Friendship requests (<%= user.pending_friendships.size %>)
      <span class="show_all">
        <%= link_to "Show all", friendship_requests_path(user) %>
      </span>
    </div>
    <div class="content">
      <ul id="friendship_requests">
        <% user.firsts_pending_friendships.each do |friendship| %>
          <li>
            <%= render :partial => "user_desc_small", :locals => { :user => friendship.user_a } %>
            
            <div class="actions">
              <%= link_to "Accept", accept_friendship_path(:id => user.id, :friendship_id => friendship.id) %> | 
              <%= link_to "Decline", decline_friendship_path(:id => user.id, :friendship_id => friendship.id) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>