<div id="user_information">
  
  <div id="avatar">
    <%= link_to image_tag(gravatar_url(user.email)), user %>
  </div>
  
  <div id="information">
    <h1><%= link_to user.full_name, user %></h1>
    <div id="location"><%= user.location %></div>
    
    <ul id="stats">
      <li><%= link_to raw("<span>#{user.accepted_friendships.size}</span> friends"), friends_path(user) %></li>
      
      <li><%= link_to raw("<span>#{user.been_points_of_interest.size}</span> visited places"), visited_places_path(user) %></li>
      
      <li style="border-right: none;"><%= link_to raw("<span>#{user.want_to_go_points_of_interest.size}</span> places to go"), places_to_go_path(user) %></li>
    </ul>
  </div>
  
</div>