<div class="avatar">
  <%= image_tag gravatar_url(user.email, 64) %>
</div>

<div class="information">
  
  <div class="user_full_name">
    <%= link_to user.full_name, user %>
  </div>
  
  <div class="user_location">
    <%= user.location %>
  </div>

  <ul class="stats">
    <li><%= user.accepted_friendships.size %> Friends</li>
    <% if user_signed_in? and not current_user == user %>
      <li><%= current_user.mutual_friends(user).size %> Mutual friends</li>
    <% end %>
    <li><%= user.been_points_of_interest.size %> Visited places</li>
    <li><%= user.want_to_go_points_of_interest.size %> Places to go</li>
  </ul>
  
</div>
