<% title @title %>

<!-- closing narrow -->
</div>

<div id="user_information">
  
  <div class="narrow">
  
    <h1 id="avatar">
      <%= link_to image_tag(gravatar_url(@user.email)), @user %>
      <%= @user.username %> <em>(<%= @user.full_name %>)</em>
    </h1>
    
  </div>

</div>

<!-- reopening narrow -->
<div class="narrow">
  
  <h1><%= @title %></h1>
  
  <% if not @events.empty? %>
    
    <ul class="list">
      <%= render :partial => 'events/event', :collection => @events %>
    </ul>
    
    <%= paginate @events, :remote => true %>
    <%= render 'shared/loading' %>
    
  <% else %>
    
    <div class="empty">
      <% if @user == current_user %>
        <%= @current_user_no_events_message %>
      <% else %>
        <%= @no_events_message %>
      <% end %>
    </div>
  
  <% end %>
  
  <div class="back">
    <%= link_to raw(t 'views.scaffold.back'), @user %>
  </div>
