<% title "#{@user.full_name}'s friendship requests" %>

<div id="left_column">
  
  <h1>Friendship requests</h1>
  
  <ul id="users">
    <% @pending_friendships.each do |friendship| %>
      <li class="user" id="friendship_<%= friendship.id %>">
        <%= render :partial => "user_desc_large", :locals => { :user => friendship.friend(@user) } %>
        
        <div class="actions">
          <%= link_to "Accept", accept_friendship_path(:id => @user.id, :friendship_id => friendship.id), :remote => true, :class => "g-button" %>
          <%= link_to "Decline", decline_friendship_path(:id => @user.id, :friendship_id => friendship.id), :remote => true, :class => "g-button" %>
        </div>
      </li>
    <% end %>
  </ul>
  
  <%= paginate @pending_friendships %>
  
</div>

<div id="right_column">
  
  <%= render :partial => "user_information", :locals => { :user => @user } %>
  
</div>