<% title t('views.users.users_friends', :user => @user.full_name) %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1><%= t('views.users.friends').capitalize %></h1>

<ul id="users_list">
  <% @accepted_friendships.each do |friendship| %>
    <%= render :partial => "user_desc", :locals => { :user => friendship.friend(@user) } %>
  <% end %>
</ul>

<%= paginate @accepted_friendships, :remote => true %>

<%= link_to raw(t('views.scaffold.back')), @user %>