<% title t('views.users.users_friendship_requests', :user => @user.full_name) %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1><%= t('views.users.friendship_requests') %></h1>

<ul id="users_list">
  
  <% @pending_friendships.each do |friendship| %>
    
    <%= render :partial => "friendship", :locals => { :user => @user, :friendship => friendship, :friend => friendship.friend(@user) } %>
    
  <% end %>
  
</ul>

<%= paginate @pending_friendships, :remote => true %>
<%= render "shared/loading" %>

<%= link_to raw(t('views.scaffold.back')), @user %>