<% title "Search people" %>

<h1>Search people</h1>

<%= render :partial => "users/search_form" %>

<% if not @users.empty? %>

  <h2>Results for: "<%= params[:search] %>"</h2>
  
  <ul id="users_list">
    
    <%= render :partial => "user_desc", :collection => @users, :as => :user %>
        
  </ul>
  
  <%= paginate @users %>
  
<% elsif params[:search] %>
  
  <h2>No results found for: "<%= params[:search] %>"</h2>
  
<% end %>