<% title "Search people" %>

<h1><%=t 'views.users.search_people' %></h1>

<%= render :partial => "users/search_form" %>

<% if not @users.empty? %>

  <h2><%=t 'views.users.results_for' %>: "<%= params[:search] %>"</h2>
  
  <ul id="users_list">
    
    <%= render :partial => "user_desc", :collection => @users, :as => :user %>
        
  </ul>
  
  <%= paginate @users, :remote => true %>
  
<% elsif params[:search] %>
  
  <h2><%=t 'views.users.no_results_found_for' %>: "<%= params[:search] %>"</h2>
  
<% end %>