<% title "Search people" %>

<div id="left_column">
  
  <h1>Search people</h1>
  
  <div id="search">
    <%= form_tag users_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "g-button" %>
    <% end %>
  </div>
  
  <% if not @users.empty? %>
  
    <h2>Search results</h2>
    
    <ul id="users">
      
      <% @users.each do |user| %>
        <li class="user" id="user_<%= user.id %>">
          
          <%= render :partial => "user_desc_large", :locals => { :user => user } %>
          
          <% if user_signed_in? %>
            <div class="actions">
              <% if current_user != user and not current_user.is_friend?(user) and not current_user.waiting_for_confirmation?(user) %>
                <%= link_to "Add as friend", add_as_friend_path(:username => current_user.username, :another_user_username => user.username), :remote => true, :class => "g-button" %>
              <% end %>
            </div>
          <% end %>
          
        </li>
      <% end %>
      
    </ul>
    
    <%= paginate @users %>
    
  <% elsif params[:search] %>
    
    <div id="empty_search_results">
      No results found
    </div>
    
  <% end %>
  
</div>

<div id="right_column">
  
  <% if user_signed_in? %>
    <%= render :partial => "sidebar", :locals => { :user => current_user } %>
  <% end %>
  
</div>