<% title t('views.users.users_mutual_friends', :user => @user.full_name) %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1><%= t('views.users.mutual_friends').capitalize %></h1>

<ul id="users_list">
  <%= render :partial => "user_desc", :collection => @mutual_friends, :as => :user %>
</ul>

<%= paginate @mutual_friends, :remote => true %>
<%= render "shared/loading" %>