<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1><%=t 'views.users.recent_activity' %></h1>
    
    <ul id="activities_list">
      <%= render :partial => "activities/activity", :collection => @activities %>
    </ul>
    
    <%= paginate @activities, :remote => true %>
    
  </div>
  
  <div class="right">
    
    <% if user_signed_in? and current_user == @user %>
      <%= render "users/other_applications" %>
    <% end %>
    
  </div>

</div>