<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1><%=t 'views.users.recent_activity' %></h1>
    
    <% if @activities.all.size > 0 %>
      
      <ul id="activities_list">
        <%= render :partial => "activities/activity", :collection => @activities %>
      </ul>
      
      <%= paginate @activities, :remote => true %>
      <%= render "shared/loading" %>
      
    <% else %>
      
      <div class="empty">
        <% if @user == current_user %>
          <%=t 'views.users.you_have_no_activity' %>
        <% else %>
          <%=t 'views.users.no_activity', :user => @user.full_name %>
        <% end %>
      </div>
      
    <% end %>
    
  </div>
  
  <div class="right">
    
    <% if user_signed_in? and current_user == @user %>
      <%= render "users/other_applications" %>
      
      <div class="section">
        <h1><%=t 'views.main.most_visited_places' %></h1>
        <ul id="points_of_interest_list">
          <% @most_visited_points_of_interest.each do |point_of_interest| %>
            <%= render :partial => "points_of_interest/most_visited_point_of_interest", :locals => { :point_of_interest => point_of_interest } %>
          <% end %>
        </ul>
      </div>
      
    <% end %>
    
  </div>

</div>