<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1>Recent activity</h1>
    
    <ul id="activities_list">
      <%= render :partial => "activities/activity", :collection => @activities %>
    </ul>
    
    <%= paginate @activities, :remote => true %>
    
  </div>
  
  <div class="right">
    
    <% if user_signed_in? and current_user == @user %>
      <h1>Connect with other applications</h1>
      
      <ul id="authentications">
        <li><%= link_to image_tag("facebook_32.png"), "/auth/facebook" %> <%= link_to "facebook", "/auth/facebook" %></li>
        <li><%= link_to image_tag("twitter_32.png"), "/auth/twitter" %> <%= link_to "twitter", "/auth/twitter" %></li>
      </ul>
      
      <div>
        <%= link_to raw("View all connections &rarr;"), user_authentications_path %>
      </div>
    <% end %>
    
  </div>

</div>