<% title @user.full_name %>

<%= render :partial => "users/full_user_information", :locals => { :user => @user } %>

<div class="columns">

  <div class="left">
    
    <h1><%=t 'views.users.recent_activity' %></h1>
    
    <ul id="activities_list">
      <%= render :partial => "activities/activity", :collection => @activities %>
    </ul>
    
    <%= paginate @activities, :remote => true %>
    
  </div>
  
  <div class="right">
    
    <% if user_signed_in? and current_user == @user %>
      <h1><%=t 'views.users.connect_with_other_applications' %></h1>
      
      <ul id="authentications">
        <% ["facebook", "twitter"].each do |provider| %>
          <li>
            <%= link_to_unless current_user.authenticates_to?(provider), image_tag("#{provider}_32.png"), "/auth/#{provider}" %>
            <%= link_to_unless current_user.authenticates_to?(provider), provider, "/auth/#{provider}" %>
            <% if current_user.authenticates_to?(provider) %>
              (<%=t 'views.users.connected' %>)
            <% end %>
          </li>
        <% end %>
      </ul>
      
      <div>
        <%= link_to raw(t('views.users.view_all_connections')), user_authentications_path %>
      </div>
    <% end %>
    
  </div>

</div>