<% title @title %>

<!-- closing narrow -->
</div>

<div id="user_information">
  
  <div class="narrow">
  
    <h1 id="avatar">
      <%= link_to image_tag(gravatar_url(@user.email)), @user %>
      <%= @user.username %> <em>(<%= @user.full_name %>)</em>
    </h1>
    
  </div>

</div>

<!-- reopening narrow -->
<div class="narrow">
  
  <h1><%= @title %></h1>
  
  <div id="filter">
    <%= form_tag visited_venues_user_path(@user), :method => :get do %>
      <div>
        <%= label_tag t('views.common.show_as') %>:
        <%= select_tag :show_as, options_for_select({t('views.common.list') => 'List', t('views.common.map') => 'Map'}, params[:show_as] ? params[:show_as] : 'List'), :onchange => '$("#filter form").submit()' %>
      </div>
    <% end %>
  </div>
  
  <% if not @venues.empty? %>
    
    <% if params[:show_as] == 'List' %>
      
      <ul class="list venues_list">
        <%= render :partial => 'venues/venue', :collection => @venues %>
      </ul>
      
    <% else %>
      
      <div id="map_canvas" style="width: 950px; height: 712.5px; margin: 10px 0;"></div>
      <script>
        var map = initialize_gmap();
        <%= render :partial => 'maps/venue', :collection => @venues %>
      </script>
      
    <% end %>
    
    <%= paginate @venues, :remote => true %>
    <%= render 'shared/loading' %>
    
  <% else %>
    
    <div class="block-message alert-message warning" style="margin-top: 5px">
      <% if @user == current_user %>
        <%= @current_user_no_venues_message %>
      <% else %>
        <%= @no_venues_message %>
      <% end %>
    </div>
  
  <% end %>
  
  <div class="back">
    <%= link_to raw(t 'views.scaffold.back'), @user %>
  </div>
