<% title t('views.users.users_visited_places', :user => @user.full_name) %>

<%= render :partial => "users/user_information", :locals => { :user => @user } %>

<h1><%= t('views.users.visited_places').capitalize %></h1>

<%= render :partial => "users/filter_form", :locals => { :url => visited_places_path(@user) } %>

<% if @been_points_of_interest.size > 0 %>
  <%= render :partial => "points_of_interest/points_of_interest_#{params[:show_as] ? params[:show_as].underscore : "list" }", :locals => { :points_of_interest => @been_points_of_interest } %>
<% else %>
  
  <div class="empty">
    <% if @user == current_user %>
      <%=t 'views.users.you_have_no_visited_places' %>
    <% else %>
      <%=raw (t 'views.users.no_visited_places', :user => link_to(@user.full_name, @user)) %>
    <% end %>
  </div>
  
<% end %>

<div class="back">
  <%= link_to raw(t('views.scaffold.back')), @user %>
</div>