<h1><%=t 'views.registrations.edit_account' %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="inputs">
    <h2><%=t 'views.registrations.personal_information' %></h2>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  </div>
  
  <div class="inputs">
    <h2><%=t 'views.registrations.location_information' %></h2>
    <%= f.input :location %>
  </div>
  
  <div class="inputs">
    <h2><%=t 'views.registrations.account_information' %></h2>
    <%= f.input :username %>
    <%= f.input :password, :hint => t("views.registrations.hints.password") %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password, :hint => t("views.registrations.hints.current_password") %>
  </div>
  
  <div class="inputs">
    <div class="avatar optional">
      <label>Avatar</label>
      <%= image_tag(gravatar_url(resource.email, 64)) %>
      <span class="hint"><%=t 'views.registrations.change_your_avatar_at' %> <%= link_to "gravatar.com", "http://gravatar.com" %>.</span>
    </div>
  </div>
  
  <div class="actions">
    <%= big_button_submit_tag "Update account" %>
  </div>
<% end %>

<h1><%=t 'views.registrations.cancel_account' %></h1>

<p><%=t 'views.registrations.unhappy' %> <%= link_to t('views.registrations.cancel_account'), registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to raw(t('views.scaffold.back')), :back %>
