<div id="header">
  <div class="narrow">
    
    <%= link_to image_tag("logo.png"), root_path, :id => "logo" %>
    
    <ul id="main_menu">
      <li><%= link_to "Venues and events", points_of_interest_index_path %></li>
      <li><%= link_to "People", users_path %></li>
    </ul>
    
    <% if user_signed_in? %>
      <%= render "shared/current_user_information" %>
    <% else %>
      <%= render "shared/signed_out_user_actions" %>
    <% end %>
  </div>
</div>