<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.association :sub_category %>
    <%= f.input :latitude, :as => :hidden %>
    <%= f.input :longitude, :as => :hidden %>
    
    <%= render :partial => "points_of_interest/map_form", :locals => { :point_of_interest => @event } %>
    
    <%= f.input :date, :as => :date, :order => [:day, :month, :year] %>
    <%= f.input :time %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "button big" %>
  </div>
<% end %>
