<%= simple_form_for(@venue) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :category %>
    <%= f.association :sub_category %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
