<% title @venue.name %>

<div id="left_column">
  
  <h1><%= @venue.name %></h1>
  
  <div class="description"><%= @venue.description %></div>
  
  <div class="category">
    <strong>Category:</strong> <em><%= @venue.category.name %></em>
  </div>
  
  <div class="sub_category">
    <strong>Sub category:</strong> <em><%= @venue.sub_category.name %></em>
  </div>
  
  <div id="map_canvas" style="width: 500px; height: 375px;"></div>
  <script>
    var map = initializeGMap();
    setPointOfInterestLocationMarker(map, "<%= @venue.latitude %>", "<%= @venue.longitude %>", false);
  </script>
  
  <%= render :partial => "points_of_interest/users_information", :locals => { :point_of_interest => @venue } %>
  
  <%= link_to 'Edit', edit_venue_path(@venue) %> |
  <%= link_to 'Back', venues_path %>
  
</div>

<div id="right_column">
  
  <% if user_signed_in? %>
    <%= render :partial => "users/sidebar", :locals => { :user => current_user } %>
  <% end %>
  
</div>