<h1><%= @venue.name %></h1>

<div class="description"><%= @venue.description %></div>

<div class="category">
  <strong>Category:</strong> <em><%= @venue.category.name %></em>
</div>

<div class="sub_category">
  <strong>Sub category:</strong> <em><%= @venue.sub_category.name %></em>
</div>

<div id="map_canvas" style="width: 640px; height: 480px;"></div>
<script>
var map = initializeGMap();
setPointOfInterestLocationMarker(map, "<%= @venue.latitude %>", "<%= @venue.longitude %>", false);
</script>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
