<div id="sign_in_form">
  
  <h1><%=t 'views.sessions.sign_in' %></h1>
  
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    
    <div class="inputs">
      <%= f.input :username %>
      <%= f.input :password %>
      <% if devise_mapping.rememberable? -%>
        <%= f.input :remember_me, :as => :boolean %>
      <% end -%>
    </div>
    
    <div class="actions">
      <%= f.submit t("views.sessions.sign_in"), :class => "button big icon" %>
    </div>
  <% end %>
  
  <h1 id="third_party_authentication"><%=t 'views.sessions.third_party_sign_in' %></h1>
  
  <div id="authentication_applications">
    <%= link_to image_tag("facebook_64.png"), "/auth/facebook" %>
    <%= link_to image_tag("twitter_64.png"), "/auth/twitter" %>
  </div>
  
  <%= render :partial => "devise/shared/links" %>
  
</div>