<div class="info_window">
  
  <h1><%= link_to point_of_interest.name, point_of_interest %></h1>
  
  <% if not point_of_interest.description.blank? %>
    <div>
      <strong><%=t 'simple_form.labels.point_of_interest.description' %></strong>
      <%= point_of_interest.description %>
    </div>
  <% end %>
  
  <div>
    <strong><%=t 'simple_form.labels.point_of_interest.category' %></strong>
    <%= point_of_interest.category.name %>
  </div>
  
  <div>
    <strong><%=t 'simple_form.labels.point_of_interest.sub_category' %></strong>
    <%= point_of_interest.sub_category.name %>
  </div>
  
  <% if point_of_interest.type == "Event" %>
    <div>
      <strong><%=t 'simple_form.labels.point_of_interest.date' %></strong>
      <%= point_of_interest.date %>
    </div>
  
    <div>
      <strong><%=t 'simple_form.labels.point_of_interest.time' %></strong>
      <%= point_of_interest.time %>
    </div>
  <% end %>
  
</div>