<li class="point_of_interest" id="point_of_interest_<%= point_of_interest.id %>">
  <div class="avatar">
    <%= image_tag "blank_avatar.png" %>
  </div>
  
  <div class="information">
  
    <div class="name">
      <%= link_to point_of_interest.name, { :controller => "#{point_of_interest.type.underscore}s", :action => "show", :id => point_of_interest.id } %>
    </div>
    
    <div class="description">
      <%= point_of_interest.description %>
    </div>

    <% if user_signed_in? %>
      <ul class="stats">
        <li>You've been here</li>
        <li>You want to be here</li>
        <li>3 friends been here</li>
        <li>3 friends want to be here</li>
      </ul>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="actions">
        <% if not current_user.been_at(point_of_interest) %>
          <%= link_to "Been here", been_path(point_of_interest), :remote => true, :class => "g-button" %>
          
          <% if not current_user.want_to_go_to(point_of_interest) %>
            <%= link_to "Want to go", want_to_go_path(point_of_interest), :remote => true, :class => "g-button" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  
  </div>
</li>