<!-- closing narrow -->
</div>

<div id="point_of_interest_information">
  
  <div class="narrow">
  
    <h1 id="avatar">
      <%= link_to image_tag("category_#{point_of_interest.category_id}.png"), point_of_interest %>
      <%= point_of_interest.name %>
    </h1>
    
    <% if defined?(include_details) and include_details %>
      
      <div class="ruler"></div>
      
      <div class="columns">
        <div id="information" class="left">
          <dl>
            <dt><%=t 'simple_form.labels.name' %></dt>
            <dd><%= point_of_interest.name %></dd>
            <% if not point_of_interest.description.blank? %>
              <dt><%=t 'simple_form.labels.description' %></dt>
              <dd><%= point_of_interest.description %></dd>
            <% end %>
            <dt><%=t 'simple_form.labels.category' %></dt>
            <dd><%= point_of_interest.category.name %></dd>
            <dt><%=t 'simple_form.labels.sub_category' %></dt>
            <dd><%= point_of_interest.sub_category.name %></dd>
            
            <% if point_of_interest.type == "Event" %>
              <dt><%=t 'simple_form.labels.date' %></dt>
              <dd><%=l point_of_interest.date %></dd>
              <dt><%=t 'simple_form.labels.time' %></dt>
              <dd><%=l point_of_interest.time, :format => :short %></dd>
            <% end %>
            
            <dt><%=t 'views.points_of_interest.user' %></dt>
            <dd><%= link_to point_of_interest.user.full_name, point_of_interest.user %></dd>
          </dl>
        </div>
        
        <div class="right">
          <ul id="stats">
            <li><%= link_to raw("<strong>#{point_of_interest.been_users.size}</strong><span>#{t("views.points_of_interest.people_been_here")}</span>"), been_users_points_of_interest_path(point_of_interest) %></li>
            
            <li><%= link_to raw("<strong>#{point_of_interest.want_to_go_users.size}</strong><span>#{t("views.points_of_interest.people_want_to_be_here")}</span>"), want_to_go_users_points_of_interest_path(point_of_interest) %></li>
            
            <% if user_signed_in? %>
              <li><%= link_to raw("<strong>#{point_of_interest.been_friends(current_user).size}</strong><span>#{t("views.points_of_interest.friends_been_here")}</span>"), been_friends_points_of_interest_path(point_of_interest) %></li>
              <li><%= link_to raw("<strong>#{point_of_interest.want_to_go_friends(current_user).size}</strong><span>#{t("views.points_of_interest.friends_want_to_be_here")}</span>"), want_to_go_friends_points_of_interest_path(point_of_interest) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      
      <% if user_signed_in? %>
        
        <div class="ruler"></div>
        
        <div class="columns">
          <div class="left">
            <% if point_of_interest.can_edit?(current_user) %>
              <% if point_of_interest.type == "Venue" %>
                <%= edit_button_link_to t('views.scaffold.edit'), edit_venue_path(point_of_interest) %>
              <% else %>
                <%= edit_button_link_to t('views.scaffold.edit'), edit_event_path(point_of_interest) %>
              <% end %>
            <% end %>
            
            <% if point_of_interest.can_delete?(current_user) %>
              <% if point_of_interest.type == "Venue" %>
                <%= negative_trash_button_link_to t('views.scaffold.delete'), point_of_interest, :method => :delete %>
              <% else %>
                <%= negative_trash_button_link_to t('views.scaffold.delete'), point_of_interest, :method => :delete %>
              <% end %>
            <% end %>
          </div>
          
          <div class="right">
            <%= render :partial => "point_of_interest_actions", :locals => { :point_of_interest => point_of_interest } %>
          </div>
        </div>
        
      <% end %>
      
    <% end %>
  </div>
  
</div>

<!-- reopening narrow -->
<div class="narrow">