<li class="point_of_interest">
  <div class="avatar">
    <%= image_tag "blank_avatar.png" %>
  </div>
  
  <div class="information">
  
    <div class="name">
      <%= link_to point_of_interest.name, { :controller => "#{point_of_interest.type.underscore}s", :action => "show", :id => point_of_interest.id } %>
    </div>
    
    <div class="description">
      <%= point_of_interest.description %>
    </div>

    <% if user_signed_in? %>
      <ul class="stats">
        <li>You've been here</li>
        <li>You want to be here</li>
        <li>3 friends been here</li>
        <li>3 friends want to be here</li>
      </ul>
    <% end %>
    
    <div class="actions">
      <%= link_to "Been here", root_path %> | 
      <%= link_to "Want to go", root_path %>
    </div>
  
  </div>
</li>