<!-- closing narrow -->
</div>

<div id="point_of_interest_information">
  
  <div class="narrow">
  
    <h1 id="avatar">
      <%= link_to image_tag("blank_avatar.png"), point_of_interest %>
      <%= point_of_interest.name %>
    </h1>
    
    <% if defined?(include_details) and include_details %>
      
      <div class="ruler"></div>
      
      <div class="columns">
        <div id="information" class="left">
          <dl>
            <dt>Name</dt>
            <dd><%= point_of_interest.name %></dd>
            <% if not point_of_interest.description.blank? %>
              <dt>Description</dt>
              <dd><%= point_of_interest.description %></dd>
            <% end %>
            <dt>Category</dt>
            <dd><%= point_of_interest.category.name %></dd>
            <dt>Sub category</dt>
            <dd><%= point_of_interest.sub_category.name %></dd>
            
            <% if point_of_interest.type == "Event" %>
              <dt>Date</dt>
              <dd><%= point_of_interest.date %></dd>
              <dt>Time</dt>
              <dd><%= point_of_interest.time %></dd>
            <% end %>
          </dl>
        </div>
        
        <div class="right">
          <ul id="stats">
            <li><%= link_to raw("<strong>#{point_of_interest.been_users.size}</strong><span>people been here</span>"), been_users_points_of_interest_path(point_of_interest) %></li>
            
            <li><%= link_to raw("<strong>#{point_of_interest.want_to_go_users.size}</strong><span>people want to be here</span>"), want_to_go_users_points_of_interest_path(point_of_interest) %></li>
            
            <% if user_signed_in? %>
              <li><%= link_to raw("<strong>#{point_of_interest.been_friends(current_user).size}</strong><span>friends been here</span>"), been_friends_points_of_interest_path(point_of_interest) %></li>
              <li><%= link_to raw("<strong>#{point_of_interest.want_to_go_friends(current_user).size}</strong><span>friends want to be here</span>"), want_to_go_friends_points_of_interest_path(point_of_interest) %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="ruler"></div>
      
      <div class="columns">
        <div class="left">
          <% if point_of_interest.type == "Venue" %>
            <%= link_to "Edit", edit_venue_path(point_of_interest), :class => "button icon edit" %>
          <% else %>
            <%= link_to "Edit", edit_event_path(point_of_interest), :class => "button icon edit" %>
          <% end %>
          
          <% if point_of_interest.can_delete? %>
            <% if point_of_interest.type == "Venue" %>
              <%= link_to "Delete", point_of_interest, :method => :delete, :class => "button icon trash danger" %>
            <% else %>
              <%= link_to "Delete", point_of_interest, :method => :delete, :class => "button icon trash danger" %>
            <% end %>
          <% end %>
        </div>
        
        <div class="right">
          <%= render :partial => "point_of_interest_actions", :locals => { :point_of_interest => point_of_interest } %>
        </div>
      </div>
      
    <% end %>
  </div>
  
</div>

<!-- reopening narrow -->
<div class="narrow">