<% title "#{t('views.points_of_interest.people_that_have_been_at')} #{@point_of_interest.name}" %>

<%= render :partial => "points_of_interest/point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<h1><%=t 'views.points_of_interest.people_that_been_here' %></h1>

<% if @users.size > 0 %>
  
  <ul id="users_list">
    <%= render :partial => "users/user_desc", :collection => @users, :as => :user %>
  </ul>
  
  <%= paginate @users, :remote => true %>
  <%= render "shared/loading" %>
  
<% else %>
  <div class="empty"><%=t 'views.points_of_interest.no_been_users' %></div>
<% end %>

<div class="back">
  <%= link_to raw(t 'views.scaffold.back'), @point_of_interest %>
</div>