<% title "Search venues and events" %>

<div id="left_column">
  
  <h1>Search venues and events</h1>
  
  <div id="search">
    <%= form_tag points_of_interest_path, :method => "get" do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => "g-button" %>
    <% end %>
  </div>
  
  <% if not @points_of_interest.empty? %>
    
    <h2>Search results</h2>
    
    <ul id="points_of_interest">
      
      <%= render :partial => "point_of_interest", :collection => @points_of_interest %>
      
    </ul>
  <% elsif params[:search] %>
    <div id="empty_search_results">
      No results found
    </div>
  <% end %>
  
</div>

<div id="right_column">
  
  <% if user_signed_in? %>
    <%= render :partial => "users/sidebar", :locals => { :user => current_user } %>
  <% end %>
  
</div>