<% title "Search venues and events" %>

<h1>Search venues and events</h1>

<%= render :partial => "search_form" %>

<% if not @points_of_interest.empty? %>
  
  <h2>Results for: "<%= params[:search] %>"</h2>
  
  <%= render :partial => "points_of_interest/points_of_interest_#{params[:show_as].underscore}", :locals => { :points_of_interest => @points_of_interest } %>
  
<% elsif params[:search] %>
  
  <h2>No results found for: "<%= params[:search] %>"</h2>
  
<% end %>

<% if user_signed_in? %>
  
  <h2>Can't find the point of interest you're looking for?</h2>
  
  <%= link_to "Create a new venue", new_venue_path, :class => "g-button" %>
  <%= link_to "Create a new event", new_event_path, :class => "g-button" %>
  
<% end %>