<% title @point_of_interest.name %>

<%= render :partial => "points_of_interest/full_point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<div class="columns">
  
  <div class="left">
    <%= render :partial => "points_of_interest/map", :locals => { :point_of_interest => @point_of_interest } %>
    
    <h2>Latest multimedia</h2>
    
    <ul id="media_files_list">
      <%= render :partial => "media_files/small_thumb_media_file", :collection => @point_of_interest.latest_media_files, :as => :media_file %>
    </ul>
    
    <%= render :partial => "media_files/hidden_small_thumb_media_file", :collection => @point_of_interest.latest_media_files, :as => :media_file %>
    
    <%= link_to raw("Show all &rarr;"), points_of_interest_media_files_path(@point_of_interest) %>
    
  </div>
  
  <div class="right">
    
    <% if @point_of_interest.been_users.size > 0 %>
      
      <h2>People that been here</h2>
      
      <ul class="users_list">
        <%= render :partial => "users/user_desc", :collection => @point_of_interest.latest_been_users, :as => :user %>
      </ul>
      
    <% end %>
    
    <% if @point_of_interest.want_to_go_users.size > 0 %>
      
      <h2>People that want to be here</h2>
      
      <ul class="users_list">
        <%= render :partial => "users/user_desc", :collection => @point_of_interest.latest_want_to_go_users, :as => :user %>
      </ul>
      
    <% end %>
    
    <% if user_signed_in? %>
      
      <% if @point_of_interest.been_friends(current_user).size > 0 %>
        
        <h2>Friends that been here</h2>
        
        <ul class="users_list">
          <%= render :partial => "users/user_desc", :collection => @point_of_interest.been_friends(current_user), :as => :user %>
        </ul>
        
      <% end %>
      
      <% if @point_of_interest.want_to_go_friends(current_user).size > 0 %>
        
        <h2>Friends that want to be here</h2>
        
        <ul class="users_list">
          <%= render :partial => "users/user_desc", :collection => @point_of_interest.want_to_go_friends(current_user), :as => :user %>
        </ul>
        
      <% end %>
      
    <% end %>
  </div>
</div>