<% title @point_of_interest.name %>

<%= render :partial => "points_of_interest/full_point_of_interest_information", :locals => { :point_of_interest => @point_of_interest } %>

<%= render :partial => "points_of_interest/map", :locals => { :point_of_interest => @point_of_interest } %>

<div class="columns">
  
  <div class="left">
    
    <h2><%=t 'views.points_of_interest.latest_multimedia' %></h2>
    
    <ul id="media_files_list">
      <%= render :partial => "media_files/small_thumb_media_file", :collection => @point_of_interest.latest_media_files, :as => :media_file %>
    </ul>
    
    <%= render :partial => "media_files/hidden_media_file", :collection => @point_of_interest.latest_media_files, :as => :media_file %>
    
    <% if @point_of_interest.latest_media_files.size > 0 %>
      <%= link_to raw(t('views.points_of_interest.show_all')), points_of_interest_media_files_path(@point_of_interest) %>
    <% else %>
      <% if user_signed_in? %>
        <%= link_to raw(t('views.points_of_interest.no_media_files')), points_of_interest_media_files_path(@point_of_interest) %>
      <% else %>
        <%=t 'views.points_of_interest.signed_out_no_point_of_interest_media_files' %>
      <% end %>
    <% end %>
    
    <h2 style="margin-top: 20px"><%=t 'views.points_of_interest.latest_comments' %></h2>
    
    <ul id="point_of_interest_comments_list">
      <%= render @point_of_interest.latest_point_of_interest_comments %>
    </ul>
    
    <% if @point_of_interest.latest_point_of_interest_comments.size > 0 %>
      <%= link_to raw(t('views.points_of_interest.show_all')), points_of_interest_point_of_interest_comments_path(@point_of_interest) %>
    <% else %>
      <% if user_signed_in? %>
        <%= link_to raw(t('views.points_of_interest.no_point_of_interest_comments')), points_of_interest_point_of_interest_comments_path(@point_of_interest) %>
      <% else %>
        <%=t 'views.points_of_interest.signed_out_no_point_of_interest_comments' %>
      <% end %>
    <% end %>
    
  </div>
  
  <div class="right">
    
    <% if @point_of_interest.been_users.size > 0 %>
      
      <h2><%=t 'views.points_of_interest.people_that_been_here' %></h2>
      
      <ul class="users_list">
        <%= render :partial => "users/user_desc", :collection => @point_of_interest.latest_been_users, :as => :user %>
      </ul>
      
      <% if @point_of_interest.latest_been_users.size > 5 %>
        <div class="show_all">
          <%= link_to raw(t 'views.points_of_interest.show_all'), been_users_points_of_interest_path(@point_of_interest) %>
        </div>
      <% end %>
      
    <% end %>
    
    <% if @point_of_interest.want_to_go_users.size > 0 %>
      
      <h2><%=t 'views.points_of_interest.people_that_want_to_be_here' %></h2>
      
      <ul class="users_list">
        <%= render :partial => "users/user_desc", :collection => @point_of_interest.latest_want_to_go_users, :as => :user %>
      </ul>
      
      <% if @point_of_interest.latest_want_to_go_users.size > 5 %>
        <div class="show_all">
          <%= link_to raw(t 'views.points_of_interest.show_all'), want_to_go_users_points_of_interest_path(@point_of_interest) %>
        </div>
      <% end %>
      
    <% end %>
    
    <% if user_signed_in? %>
      
      <% if @point_of_interest.been_friends(current_user).size > 0 %>
        
        <h2><%=t 'views.points_of_interest.friends_that_been_here' %></h2>
        
        <ul class="users_list">
          <%= render :partial => "users/user_desc", :collection => @point_of_interest.been_friends(current_user), :as => :user %>
        </ul>
        
        <% if @point_of_interest.been_friends(current_user).size > 5 %>
          <div class="show_all">
            <%= link_to raw(t 'views.points_of_interest.show_all'), been_friends_points_of_interest_path(@point_of_interest) %>
          </div>
        <% end %>
        
      <% end %>
      
      <% if @point_of_interest.want_to_go_friends(current_user).size > 0 %>
        
        <h2><%=t 'views.points_of_interest.friends_that_want_to_be_here' %></h2>
        
        <ul class="users_list">
          <%= render :partial => "users/user_desc", :collection => @point_of_interest.want_to_go_friends(current_user), :as => :user %>
        </ul>
        
        <% if @point_of_interest.want_to_go_friends(current_user).size > 5 %>
          <div class="show_all">
            <%= link_to raw(t 'views.points_of_interest.show_all'), want_to_go_friends_points_of_interest_path(@point_of_interest) %>
          </div>
        <% end %>
        
      <% end %>
      
    <% end %>
  </div>
</div>
