<div id="<%= "activity_#{activity.id}_media_file_#{activity.media_file_id}" %>">
  <%= image_tag activity.media_file.file_url(:medium) %>
  
  <div class="media_file" id="<%= "activity_#{activity.id}_media_file_#{activity.media_file_id}_caption" %>">
    
    <div class="user_info">
      <%= link_to image_tag(gravatar_url(activity.media_file.user.email, 24)), activity.media_file.user %>
      <%= link_to activity.media_file.user.username, activity.media_file.user %>
      <em>(<%= activity.media_file.user.full_name %>)</em>
    </div>
    
    <div class="media_file_title">
      <%= activity.media_file.title %>
    </div>
    
    <h2 style="margin-top: 20px">Latest comments</h2>
    
    <ul id="media_file_comments_list">
      <%= render activity.media_file.latest_media_file_comments %>
    </ul>
    
    <%= link_to raw("Show all &rarr;"), points_of_interest_media_file_media_file_comments_path(activity.media_file.point_of_interest, activity.media_file) %>
    
    <% if current_user == activity.media_file.user %>
      <div class="actions">
        <%= link_to "Edit", edit_points_of_interest_media_file_path(activity.media_file.point_of_interest, activity.media_file), :class => "button icon edit" %>
        <%= link_to "Delete", points_of_interest_media_file_path(activity.media_file.point_of_interest, activity.media_file), :method => :delete, :class => "button icon trash danger" %>
      </div>
    <% end %>
    
  </div>
</div>