<li class="venue_created activity">
  
  <% if current_user == activity.user_a and current_user == user %>
    <%= raw t('views.activities.you_created_venue', :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest)) %>
  <% else %>
    <%= raw t('views.activities.created_venue', { :subject => link_to(activity.user_a.full_name, activity.user_a), :point_of_interest => link_to(activity.point_of_interest.name, activity.point_of_interest) }) %>
  <% end %>
  (<%= activity.point_of_interest.category.name %>, <%= activity.point_of_interest.sub_category.name %>).
  
  <div class="information">
    <%=l activity.created_at, :format => :activity %>
  </div>
  
</li>