<%= simple_form_for([@imageable.venue, @imageable, @image]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :image %>
    <%= f.input :caption %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
